<div id="content_detail" class="ui-corner-all">
<h1 class="title">Listing names</h1>
<div id="content_list">
  
<table>
  <tr>
    <th>Type of name</th>
    <th>Name string</th>
    <th>Scope of usage</th>
    <th>Dates of usage</th>
    <th>Language of name</th>
    <th>Script of name</th>
    <th></th>
    <th></th>
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%= name.type_of_name %></td>
    <td><%= link_to name.name_string, name %></td>
    <td><%= name.scope_of_usage %></td>
    <td><%= name.dates_of_usage %></td>
    <td><%= name.language_of_name %></td>
    <td><%= name.script_of_name %></td>
    <td><%= link_to t('page.edit'), edit_name_path(name) %></td>
    <td><%= link_to t('page.destroy'), name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to 'New Name', new_name_path %></li>
  </ul>
</div>
