<h1>Listing name_has_access_points</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Controlled access point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @name_has_access_points.each do |name_has_access_point| %>
  <tr>
    <td><%= name_has_access_point.name_id %></td>
    <td><%= name_has_access_point.controlled_access_point_id %></td>
    <td><%= link_to 'Show', name_has_access_point %></td>
    <td><%= link_to 'Edit', edit_name_has_access_point_path(name_has_access_point) %></td>
    <td><%= link_to 'Destroy', name_has_access_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Name has access point', new_name_has_access_point_path %>
